BOT_TOKEN=your_bot_token
CHAT_ID=your_chat_id

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=crypto_prices
KAFKA_CONSUMER_GROUP=crypto-consumer-group

ALERT_THRESHOLD=-3

PRICE_SOURCE=mock
BINANCE_API_URL=https://api.binance.com/api/v3/ticker/price